 body{
   display: grid;
   place-content: center;
   grid-template: 1.2fr 1fr/1fr;
 }
 
 .grid-div{
   margin-top: 5%;

    display: grid;
    place-content: center;
    grid-template: repeat(3, 60px) / repeat(3, 60px);
 }

 .btn-grid{
   display: grid;
   grid-template: repeat(2, 60px)/ 1fr 1fr;;
   place-content: center;
   padding: 0 35%;
 }

 .X,
 .O{
   
 }

 .resetBtn{
   min-height: 50px;
 }

 .winnerDiv{
   min-width: 100px;
   min-height: 50px;
   border: 1px solid black;
   text-align: center;
 }
 
 #field{
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height:50px;
    border: 2px solid black;

 }
 .field-value{
    min-height: 50px;
    min-width: 50px;
 }
 .highlight{
   background-color: green;
 }